<!doctype html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body>

    {{>navbar}}


    <!-- main header  -->

    <div class="container-fluid main_header ">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto"> 
                <div class="row">

                    <!-- Right side div  -->
                    <div class="col-md-12 col-12 main_header_right align-items-center">
                        <figure class="errimg">
                            <img src="images/error.png" alt="" class="img-fluid" title="Nilesh">
                        </figure>
                        <p>Welcome to error page!</p>
                        <h1>{{errmsg}}</h1>
                        <a href="/"> <button>Go back</button></a>
                    </div>


                </div>

            </div>
        </div>
    </div>

    <!-- footer code  -->
    {{>footer}}

    {{!-- all scripts links --}}
    {{>scriptslinks}}
</body>

</html>