<!doctype html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body>

    {{>navbar}}


    <!-- main header  -->

    <div class="container-fluid ">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">

                    <!-- Right side div  -->
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="images/about.png" alt="" class="img-fluid" title="Nilesh">
                        </figure>
                    </div>

                    <!-- left side div  -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to About page</p>
                        <h1>I am a <span class="text_clr">mern stack developer</span> from INDIA</h1>
                        <a href="/weather"> <button>check now</button></a>
                    </div>


                </div>

            </div>
        </div>
    </div>

    <!-- footer code  -->
    {{>footer}}

    {{!-- all scripts links  --}}
    {{>scriptslinks}}
</body>

</html>